@import '~vue-json-pretty/lib/styles.css';

.input-group {
    width: 100%;
}

.pagination-items>li {
    margin: 1px;
}

.pagination-items>li>span {
    background-color: #f7f9fb;
    height: 29px;
    width: 100%;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
    color: #6c757d;
    padding: 0px;
}

.pagination-items>li>button {
    background-color: #f7f9fb;
    width: 100%;
    height: 29px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
    color: #788793;
    padding: 0px;
}

.pagination-items>li:hover>button {
    background-color: #fff !important;
    color: #788793 !important;
}

.pagination-items>li.active>button {
    background-color: #e9edf1 !important;
    color: #788793 !important;
}